@model IQueryable<NewsItem>

@{ 
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (var newEntity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="NewsItems" asp-action="Index" asp-route-id="@newEntity.Id">
                        <img src="~/images/@newEntity.TitleImagePath" alt="" class="left" />
                    </a>
                    <h4>@newEntity.Title</h4>
                    <p>@newEntity.Subtitle</p>
                </li>
            }
        </ul>
    }
</div>